<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iu.start.bankaccount.BankAccountDAO">
	<insert id="setAccount" parameterType="BankAccountDTO">
		INSERT INTO BANKACCOUNT VALUES (ACCOUNT_SEQ.NEXTVAL,#{id},#{bookNum},SYSDATE)
	</insert>
	
	<select id="getList" parameterType="BankMembersDTO"
		resultMap="getListByUserNameResult">
		SELECT a.ACCOUNTNUM, b.BOOKNAME, a.ACCOUNTDATE FROM BANKACCOUNT a JOIN BANKBOOK b USING(BOOKNUM)
		WHERE a.ID = #{id}
	</select>
	
	<resultMap type="BankAccountDTO" id="getListByUserNameResult">
		<id column="ACCOUNTNUM" property="accountNum"/>
		<result column="ACCOUNTDATE" property="accountDate"/>
		<association property="bankBookDTO" javaType="BankBookDTO">
			<result column="BOOKNAME" property="bookName"/>
		</association>
	</resultMap>
</mapper>