<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.iu.start.bankmembers.BankMembersDAO">
		<select id="getLogin" parameterType="BankMembersDTO"
			resultType="BankMembersDTO">
			SELECT USERNAME, NAME FROM BANKMEMBERS WHERE USERNAME=#{userName} and PASSWORD=#{passWord}
		</select>
		
		<select id="getSearchByID" parameterType="String"
			resultType="BankMembersDTO">
			SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME ASC
		</select>
		
		<insert id="setJoin" parameterType="BankMembersDTO">
			INSERT INTO BANKMEMBERS VALUES (#{userName}, #{passWord}, #{name}, #{email}, #{phone})
		</insert>
		
		<select id="myPage" parameterType="BankMembersDTO"
			resultMap="getMyResultMap">
			SELECT bm.USERNAME, bm.NAME, bm.EMAIL, bm.PHONE, mf.FILENUM, mf.FILENAME, ba.ACCOUNTNUM, bb.BOOKNAME, ba.ACCOUNTDATE 
			FROM BANKMEMBERS bm
			LEFT JOIN MEMBERFILE mf
			on bm.USERNAME = mf.USERNAME
			LEFT JOIN BANKACCOUNT ba
			ON bm.USERNAME = ba.USERNAME
			LEFT JOIN BANKBOOK bb
			ON ba.BOOKNUM = bb.BOOKNUM
			WHERE bm.USERNAME = #{userName}
		</select>
		
		<resultMap type="BankMembersDTO" id="getMyResultMap">
			<id column="USERNAME" property="userName"/>
			<result column="NAME" property="name"/>
			<result column="EMAIL" property="email"/>
			<result column="PHONE" property="phone"/>
			<association property="bankMembersFileDTO" javaType="BankMembersFileDTO">
				<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
			</association>
			<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO">
				<id column="ACCOUNTNUM" property="accountNum"/>
				<result column="ACCOUNTDATE" property="accountDate"/>
				<association property="bankBookDTO" javaType="BankBookDTO">
					<result column="BOOKNAME" property="bookName"/>
				</association>
			</collection>
		</resultMap>
		
		<insert id="setAddFile" parameterType="BankMembersFileDTO">
			INSERT INTO MEMBERFILE VALUES (FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{userName})
		</insert>
		
		<select id="duplicateCheck" parameterType="BankMembersDTO"
			resultType="BankMembersDTO">
			SELECT * FROM BANKMEMBERS WHERE USERNAME = #{userName}
		</select>
	</mapper>